* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 100%;
    margin: auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    line-height: 100px;
    margin-right: 20px;
    transition: 200ms;
}

.nav_menu ul li {
    display: block;
    line-height: 40px;
}


/* NAV LEFT */

.nav_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 400px;
    height: 100%;
}

.nav_left img {
    width: 35%;
    margin-right: 30px;
}

.nav_left li {
    font-size: 14px;
    color: gray;
    text-transform: uppercase;
}

.nav_left li:hover {
    color: #d8328b;
    cursor: pointer;
}


/* NAV RIGHT */

.nav_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
}

.nav_right li {
    font-size: 14px;
    color: gray;
}

.nav_right li:hover {
    color: black;
}

.nav_item {
    position: relative;
}

.nav_item:hover {
    cursor: pointer;
}

.nav_menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 5px lightgray;
    z-index: 0;
}

.nav_menu sup {
    color: #d8328b;
    font-weight: bold;
}

ul.language {
    margin-left: 50px;
}

a.nav_button {
    color: white;
    background-color: #d8328b;
    padding: 7px 15px;
    border-radius: 20px;
    text-decoration: none;
}


/* CLASSI MODULARI JS */

.active {
    display: flex;
}